<!--<div id = "item-b">
  
  asdf
</div>
<div id = "item-c">
  asdf
  
</div>-->
<body class = "container">
  
  <section class = "grid-area header">
    <h1>File Transfer</h1>
  </section>
  <section class = "grid-area main"><h4>Select a file to upload</h4><form-upload></form-upload></section>
  <section class = "grid-area main2"><h4>Select a file to download</h4><list-upload></list-upload></section>
  <section class = "grid-area sidebar">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search Users">
      <button class="button btn-secondary" type="submit">Search</button>
    </form>
  </section>
  <section class = "grid-area footer"></section>
  
</body>