.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main main2 sidebar"
    "footer footer footer sidebar";
}

.grid-area {

  padding: 1em 1em 1em 1em;

  border: 5px solid white;
  background-color: rgb(228, 228, 228);
}
.header {
  grid-area: header;
  text-align: center;
}
.main {
  border: none;
  background-color: white;
  grid-area: main;
  text-align: center;
}
.main2 {
  border: none;
  background-color: white;
  grid-area: main2;
  text-align: center;
}
.sidebar {
  
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
