.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main main2 sidebar"
    "footer footer footer sidebar";
}

.grid-area {
  background-color: gray;
  padding: 1em 1em 1em 1em;
  border-radius: 1em;
  text-align: center;
}
.header {
  grid-area: header;
}
.main {
  grid-area: main;
}
.main2 {
  grid-area: main2;
}
.sidebar {
  grid-area: sidebar;
}
.footer {
  grid-area: footer;
}
