<body>
    <div class="content">
        <header></header>
        <div class="alert alert-danger" *ngIf="!auth.loggedIn">Please <button (click)="auth.login()"
                *ngIf="!auth.loggedIn">log in</button> to continue</div>
        <div class="alert alert-success" *ngIf="auth.loggedIn">You are logged in</div>
    </div>
 
    <div class="row">
        <div class="col-md-2">
            <img class="rounded float-left" style="width: 100%"
                src="https://dynl.mktgcdn.com/p/NiPhuRh9wBBDPWt_cLTeAuoniNWxlmZW8J5MIcfmLs8/619x619.jpg">
        </div>
        <div class="col-md-10">
            <h1>Local Allstate Agent: Christopher Gryzen</h1>
            <p>"My team and I are committed to helping customers in many aspects of their financial preparation... We're
                passionate about improving the financial wellbeing of every life we touch."</p>
            <p>Vist the <a href="https://agents.allstate.com/christopher-gryzen-omaha-ne.html">official site</a> to learn more.</p>
        </div>
        <!--<div class="alert alert-danger" *ngIf="{{profile.email_verified}}">Verify Your Email</div>-->

    </div>
    <br>
    <footer class="sticky">

        <div id="flex-container">
            
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">How this site is protected</div>
                <div class="card-body">
                    <h4 class="card-title"><a href="https://auth0.com/docs/getting-started/overview">Auth0</a></h4>
                    <p class="card-text">Auth0 provides authentication and authorization for web-applications. </p>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">How your data is stored</div>
                <div class="card-body">
                    <h4 class="card-title"><a href="https://aws.amazon.com/s3/">Amazon AWS S3 Buckets</a></h4>
                    <p class="card-text">Amazon Web Services' Simple Storage Service provides secure and reliable
                        storage.</p>
                </div>
            </div>
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">How this page is running</div>
                <div class="card-body">
                    <h4 class="card-title"><a href="https://angular.io/">Angular</a> and <a
                            href="https://nodejs.org/en/about/">Node.js</a></h4>
                    <p class="card-text">This web-application relies on Angular to construct the front end and Node.js
                        to construct the back end. </p>
                </div>
            </div>
        </div>

    </footer>
</body>