<!--<app-users></app-users>-->
<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Gryzen Financial</a>
  

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/file-upload" *ngIf="auth.loggedIn">Upload</a>
      </li>
    </ul>

    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/profile" *ngIf="auth.loggedIn">Profile</a>
      </li>
      <li class="nav-item float-right">
        <app-login></app-login>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">

  <div class="starter-template">
    <router-outlet></router-outlet>
  </div>

