<pre *ngIf="auth.userProfile$ | async as profile">

  <!--<code> {{profile | json}} </code>-->
  <div class = "row">
      <div class = "col-md-2">
        <img class = "rounded float-left" style = "width: 100%" src="{{profile.picture}}">
      </div>
      <div class = "col-md-10">
          <h1>{{profile.nickname}}'s profile</h1> 
          <p><b>Nickname:</b> {{profile.nickname}}<br><b>Email:</b> {{profile.email}}<br><b>Last Update:</b> {{profile.updated_at}}<br><b>Email Verified: </b>{{profile.email_verified}}</p>
      </div>
     <!--<div class="alert alert-danger" *ngIf="{{profile.email_verified}}">Verify Your Email</div>-->
  
  </div>
  
  </pre>

